*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-color-one: #00aaff;
  --gradient-color-two: #469ff5;
  --gradient-color-three: #6193ea;
  --gradient-color-four: #7488dd;
  --gradient-color-five: #817dce;
  --output-bg-color: #00000064;
  --previous-operand-color: #ffffff80;
  --text-color: #ffffff;
  --font-size-small: 1.5rem;
  --font-size-medium: 2.5rem;
  --font-size-large: 3.5rem;
}

body {
  background: linear-gradient(to right bottom, var(--gradient-color-one), var(--gradient-color-two), var(--gradient-color-three), var(--gradient-color-four), var(--gradient-color-five));
  min-height: 100vh;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7.5rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: var(--font-size-medium);
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: var(--output-bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: var(--previous-operand-color);
  font-size: var(--font-size-small);
}

.output .current-operand {
  color: var(--text-color);
  font-size: var(--font-size-medium);
}